@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 100%;
  cursor: default;
  background-color: transparent;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 100%;

    & img {
      display: none;
    }

    &__price {
      display: flex;
      font-size: 1.5rem;
      margin-top: 0;
    }

    &__composition {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
      }

      & p {
        font-size: 1.1rem;
        display: flex;
        width: 100%;
        font-style: italic;
      }
    }

    &__recommendation {
      width: 100%;
    }
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

.cake-description {

  &__syrup-cake {

    &__header {
      font-family: $primary-font;
    }

    &__cake-tops {

      & ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-left: 1rem;
        font-family: $primary-font;

        & li {
          list-style: none;
          font-size: 1.5rem;
          color: $white;
          font-family: $primary-font;
        }
      }
    }
  }

  &__personalized-cake {
    font-family: $primary-font;
  }
}

@include respond($tablet-landscape) {
  .product-info {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    &__details {
      gap: 3rem;
      width: 100%;

      & img {
        width: 100%;
        height: 50%;
      }

      &__composition {
        display: flex;
        flex-direction: column;

        & div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;


          & p {
            width: 100%;
            margin: 0;
            font-size: 1.5rem;
            padding: 0;
          }

          &__wrapper {
            height: 8rem;
            width: 100%;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            flex-wrap: wrap;
          }
        }
      }

      &__recommendation {
        margin: 0;
      }

      & svg{
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@include respond($phone) {
  .cake-description {

    &__syrup-cake {

      &__cake-tops {

        & ul {

          & li {
            list-style: none;
            font-size: 1.1rem;
            font-family: $primary-font;
            color: $white;
          }
        }
      }
    }
  }
}


